@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.beer-popup .maplibregl-popup-content {
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  padding: 16px 20px;
  padding-top: 14px;
  min-width: 220px;
  border: 1px solid rgba(0,0,0,0.06);
}

.beer-popup .maplibregl-popup-tip {
  border-top-color: #fff;
}

.beer-popup .maplibregl-popup-close-button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #999;
  border-radius: 50%;
}

.beer-popup .maplibregl-popup-close-button:hover {
  background: transparent;
  color: #000;
}

/* .beer-popup .maplibregl-popup-close-button:hover {
  background: #f0f0f0;
  color: #000;
  border-radius: 50%;
} */